@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-archivo: var(--font-archivo);
}


html,
body,
*,
button,
input,
select,
textarea {
  background-clip: padding-box;
  font-family: var(--font-archivo), sans-serif !important;
}

body {
  background: #eef0f8 !important;
  color: #3B2963;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}